.header-spacer {
  height: 150px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.main-content {
  padding-bottom: 6rem;
}

body {
  background: url("./../img/hero1.jpg") no-repeat fixed;
  background-size: cover;
  background-position: 0px 120px;
  height: calc(100vh - 152px);
}

header {
  background-color: #fafafa;
}

footer {
  background-color: #fafafa;
  position: absolute;
  bottom: 0;
}

footer .row {
  min-height: 4rem;
}

.attendance-form {
  margin-bottom: 4rem;
}

@media (max-width: 568px) {
  h1 {
    font-size: 1.5rem;
  }

  .main-content {
    padding-bottom: 13rem;
  }

  .header-spacer {
    height: 185px;
  }
}
