<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">

    <script src="https://kit.fontawesome.com/b0451faeb3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <title>Attendance Form</title>
  </head>
  <body>
    <div class="page-container">
      <div class="main-content">
        <header class="container-fluid fixed-top pb-3">
          <div class="row">
            <div class="col d-flex align-items-center mt-3">
              <a class="nav-link" href="{{ url_for('home') }}">
                <img class="mx-3" src="{{ url_for('static', filename='img/logo.png') }}" height="80" width="80" alt="lodge-logo">
              </a>
              <h1 class="d-inline page-heading">Aviation & Combined Services Lodge</h1>
            </div>
          </div>
        </header>

        <div class="container header-spacer">
          <div class="row">
            <div class="col"></div>
          </div>
        </div>

        <section>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="row" id="flashMessages" >
                  <div class="col col-sm-10 offset-sm-1 col-md-6 offset-md-3 card">
                    <h3 class="text-center card-body text-danger">{{ message }}</h3>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </section>

        {% block content %}
        {% endblock %}

        <section>
          <div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="adminModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="adminModalLabel">Password Required</h5>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('password') }}" method="POST" class="text-center">
                    <div class="form-group">
                      <input id="password" class="form-control" name="password" type="text" placeholder="Password" required>
                    </div>
                    <button type="submit" name="button" class="btn btn-primary mt-3">Enter</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="resetModal" tabindex="-1" aria-labelledby="resetModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="resetModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body">
                  <p>Once you reset, all data will be lost</p>
                  <form action="{{ url_for('reset') }}" method="POST" class="text-center">
                    <button type="button" class="btn btn-secondary mx-auto px-3">
                      <a href="{{ url_for('admin') }}" class="text-white">Cancel</a>
                    </button>
                    <button type="submit" class="btn btn-danger mx-auto px-3">Reset</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer class="container-fluid">
            <div class="row text-center">
              <div class="col-12 col-sm-4 my-3 my-sm-auto">
                <a href="#" class="h5 admin-link" id="adminModalButton" data-toggle="modal" data-target="#adminModal">Admin</a>
              </div>
              <div class="col-12 col-sm-4 my-3 my-sm-auto">
                <a href="https://aviationlodge8504.org.uk/" target="_blank" rel="noopener" class="h5 admin-link">aviationlodge8504.org.uk</a>
              </div>
              <div class="col-12 col-sm-4 my-3 my-sm-auto">
                <ul class="list-inline h5">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/groups/418457545161817" target="_blank" rel="noopener" class="h5 link">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div>

      <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
  </body>
</html>
