<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">

    <script src="https://kit.fontawesome.com/b0451faeb3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <title>Attendance Form</title>
  </head>
  <body>
    <div class="page-container">
      <div class="main-content">
        <header class="container-fluid fixed-top pb-3">
          <div class="row">
            <div class="col d-flex align-items-center mt-3">
              <img class="mx-3" src="{{ url_for('static', filename='img/logo-resize-v02.png') }}" alt="lodge-logo">
              <h1 class="d-inline page-heading">Aviation & Combined Services Lodge</h1>
            </div>
          </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer class="container-fluid">
            <div class="row text-center">
              <div class="col-12 col-sm-4 my-3 my-sm-auto">
                <a href="#" class="h5">Admin</a>
              </div>
              <div class="col-12 col-sm-4 my-3 my-sm-auto">
                <p class="mb-0">Lodge No.8504</p>
              </div>
              <div class="col-12 col-sm-4 my-3 my-sm-auto">
                <ul class="list-inline h5">
                  <li class="list-inline-item">
                    <i class="fab fa-facebook-square"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fab fa-instagram-square"></i>
                  </li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div>
  </body>
</html>
