{% extends 'base.html' %}

{% block content %}
  <div class="container header-spacer">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-10 offset-sm-1">
        <div class="row card thanks-card">
          <div class="col card-body text-center p-5">
            <h2 class="display-1 text-center"><strong>Thank You</strong></h2>
            <p class="display-4 text-center"><strong>Your form has been successfully submitted. See you at the next meeting!</strong></p>
            <p class="text-center">You may now close this window safely</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
